{% extends 'layout/base.html' %}
{% block title %}{{Fruit.TenSP}}{% endblock %}

{% block content %}

    {% load humanize %} 
    {% load static %}

    <section class="breadcrumb">
        <ul class="breadcrumb-list d-flex">
            <li class="breadcrumb-item">
                <a href="/">
                    Trang chủ
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{Fruit.loai.MaLoai}}">
                    {{Loai.TenLoai}}
                </a>
            </li>
            <li class="breadcrumb-item">
                <span>{{Fruit.TenSP}}</span>
            </li>
        </ul>
    </section>

    <section class="product-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-12 product-detail-box product-gallery">
                    <div class="slider-main">
                        {% for img in images %}
                            <img src="{{img.HinhAnh}}" alt="" />
                        {% endfor %}
                    </div>
                    <div class="slider-nav mt-3">
                        {% for img in images %}
                            <div class="slick-slider-item">
                                <img src="{{img.HinhAnh}}" alt="" />
                            </div>
                        {% endfor %} 
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-12 product-detail-box product-info">
                    <div class="product-info-name">
                        <h3>{{Fruit.TenSP}}</h3>
                    </div>
                    <div class="product-info-price d-flex align-items-center">
                        <h2>{{Fruit.DonGia|floatformat:"0"|intcomma}}đ</h2>
                    </div>
                    <div class="product-action d-flex my-2 align-items-center">
                        {% if Quantity > 0 %}
                            <div class="buy-action d-flex gap-3">
                                <button class="buy-action-btn" data-product-id="@Model.ProductID">
                                    <h4>MUA NGAY</h4>
                                    <span>Giao tận nơi hoặc nhận tại cửa hàng</span>
                                </button>
                                <button class="add-to-cart-btn" data-product-id="@Model.ProductID">
                                    <i class="fa-solid fa-cart-plus"></i>
                                </button>
                            </div>
                        {% else %}
                            <div class="buy-action">
                                <button class="buy-action-btn" disabled>
                                    <h4>HẾT HÀNG</h4>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="product-description d-flex flex-column gap-3 mt-4">
                        {{Fruit.MoTa}}
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3 p-0">
            <div class="product-cts-wrapper d-flex align-items-start gap-3">
                <div class="product-contents product-cts-box">
                    <div class="box-header">
                        <h4>Mô tả sản phẩm</h4>
                    </div>
                    <div class="text-center mt-5">
                        Sản phẩm này chưa có mô tả.
                    </div>
                </div>
                <div class="product-parameter-news d-flex flex-column gap-3">
                    <div class="product-parameter product-cts-box">
                        <div class="box-header">
                            <h4>Chi tiết</h4>
                        </div>
                        <div class="product-para-table mt-4">
                            <table>
                                <tr>
                                    <td>NCC</td>
                                    <td>...</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="product-news product-cts-box">
                        <div class="box-header">
                            <h4>Tin tức nổi bậc</h4>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if OtherFruits %}
            <div class="order-product product-cts-box mt-3">
                <div class="box-header">
                    <h4>Trái cây tương tự</h4>
                </div>
                <div class="order-product-slick-slider">
                    {% for fruit in OtherFruits %}
                        <div class="slick-slider-item">
                            <div class="product-box">
                                <a href="/sanpham/{{fruit.fruit.MaSP}}" class="product-link">
                                    <div class="product-image lazy-loading">
                                        <img lazy-src="{% if fruit.images %} {{fruit.images.0.HinhAnh}} {% else %} {% static 'images/no-images.jpg' %} {% endif %}" alt="" class="product-img">
                                    </div>
                                </a>
                                {% if fruit.quantity <= 0 %}
                                    <div class="out-of-stock mt-1 text-center">
                                        Hết hàng
                                    </div>
                                {% endif %}
                                <a href="/sanpham/{{fruit.MaSP}}" class="product-link">
                                    <div class="product-name">
                                        {{fruit.fruit.TenSP}}
                                    </div>
                                </a>

                                <div class="product-price d-flex align-items-center">
                                    <span>{{ fruit.fruit.DonGia|floatformat:"0"|intcomma }}đ</span>
                                </div>
                                <button class="view-product" onclick="window.location.href='/sanpham/{{fruit.fruit.MaSP}}'">
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                                <button class="btn-add-to-cart" data-product="{{fruit.fruit.MaSP}}">
                                    <i class="fa-solid fa-cart-plus"></i>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}